<section class="hero">
  <div class="hero__container">
    <div class="hero__message">
      <%= render(
        "spree/components/typography/hero_title",
        content: "ATW Global Website Will Be Live April 1st, 2021"
      ) %>
      <%= render(
        "spree/components/typography/subtitle",
        content: "Maket the world."
      ) %>
    </div>
  </div>
</section>
