<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render partial: 'spree/components/brand/logo' %>
      </div>
      <div class="col-sm-3">
        <br>
        <p>4227 Commercial Way</p>
        <p>Glenview, IL, 60025</p>
        <p>United States</p>
        <p>+1-847-610-9096</p>
        <p>+1-415-980-9776 (m)</p>
      </div>
      <div class="col-sm-3">
        <br>
        <p>14 Old Queen Street</p>
        <p>London SW1H 9HP</p>
        <p>United Kingdom</p>
        <p>+44 02038806606</p>
        <p>+44 07480373955 (m)</p>
      </div>
      <div class="col-sm-3">
        <br>
        <p>Narnii Zam 3</p>
        <p>Sukhbaatar Distric</p>
        <p>UB, 15160, Mongolia</p>
        <p>+976-75772014</p>
        <p>+976-99084558 (m)</p>
      </div>
    </div>
  </div>
  <p>
    <%= t 'spree.powered_by' %> <%= link_to 'ATW'%>
  </p>

  <%= render 'spree/components/navigation/locale_selector' %>
</footer>
