<div class="top-bar">
   <!-- render partial: 'spree/components/brand/logo' -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- <div class="top-bar__search">
          <%= render partial: 'spree/components/search/search_bar' %>
        </div> -->
      </div>
      <div class="col-sm-6">

        <h1 class="atw_top"><%= link_to (raw("Across the World.")), spree.root_path %></h1>
      </div>
      <div class="col-sm-3">
        <!-- <div class="top-bar__cart_link">
          <%= render partial: 'spree/components/cart/cart_link' %>
        </div> -->
        <!-- <div class="top-bar__auth_link">
          <%= render partial: 'spree/components/navigation/auth_link' %>
        </div> -->
      </div>
    </div>
  </div>
</div>
